html,
body {
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.list {
  width: 100%;
  height: 100%;
  /* 颜色：单词，十六进制，RGB */
  background: rgb(255, 132, 94);
}
.page1 {
  background-color: url(../img/bg.png) center no-repeat;
  background-color: url(../img/shoes-hou.png) center no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.photo1 {
  /*750px=7.50rem*/
  width: 7.5rem;
  height: 13.35rem;
  position: absolute;
  /*底部为0*/
}
.photo2 {
  width: 6rem;
  height: 4.42rem;
  position: absolute;
  right: 0.95rem;
  top: 3.25rem;
  margin: 0 auto;
}
.tag {
  /*字体颜色*/
  color: #ffffff;
  /*字体大小*/
  font-size: 0.2rem;
  font-weight: 700;
  position: absolute;
  right: 5.5rem;
  top: 0.7rem;
}
.info-text1 {
  line-height: 0.03rem; /*行高--文字之间的间距（文字上下各取一半距离）*/
  font-size: 0.02rem;
  font-style: oblique;
  color: white;
  font-weight: 700;
}
.info-text2 {
  line-height: 0.03rem; /*行高--文字之间的间距（文字上下各取一半距离）*/
  font-size: 0.02rem;
  font-style: oblique;
  color: white;
}
.info-text3 {
  line-height: 0.03rem; /*行高--文字之间的间距（文字上下各取一半距离）*/
  font-size: 0.02rem;
  font-style: oblique;
  color: white;
}
.subwidget {
  width: 0.11rem;
  height: 0.17rem;
  position: absolute;
  top: 1.55rem;
  left: 0.45rem;
}
.divder1 {
  width: 0.53rem;
  height: 0.09rem;
  background-color: #f94723;
  position: absolute;
  left: 0.3rem;
  top: 0.91rem;
  border-radius: 0.1rem;
}
/*.photo{
	width:0.53rem;
	height:0.09rem;
	position:absolute;
	left:0.3rem;
	top:0.91rem;
}*/
.info {
  width: 6.9rem;
  height: 6.2rem;
  position: absolute;
  background-color: white;
  border-radius: 0.2rem;
  right: 0.3rem;
  top: 8.5rem;
}
/* .animate,.animated {
    -webkit-animation-duration:5s;      动画时长
    animation-duration:5s;
    -webkit-animation-fill-mode:both;   动画模式
    animation-fill-mode:both;
}*/
/*元素初始位置为屏幕下方300像素*/
/*.bottom{
	background-color:#333;
	width:100%;
	z-index:100;
	color:#515151;
	height:300px;
	position:absolute;
	bottom:-300px;}*/
/*opacity  透明度（渐显，渐隐）  translate 偏移量*/
/*上滑 直接实现  元素位置位于屏幕下方300像素*/

.info1 {
  width: 6rem;
  height: 1.13rem;
  top: 1.45rem;
  position: absolute;
  font-size: 0.4rem;
  color: grey;
  left: 0.3rem;
}
.info2 {
  width: 6rem;
  height: 1.13rem;
  top: 1.88rem;
  position: absolute;
  font-size: 0.53rem;
  color: black;
  font-weight: 700;
  left: 0.3rem;
}
.info3 {
  width: 6rem;
  height: 0.66rem;
  font-size: 13px;
  font-family: Microsoft YaHei;
  top: 3rem;
  position: absolute;
  color: grey;
  left: 0.3rem;
}
.info2-text1 {
  line-height: 0.09rem; /*行高--文字之间的间距（文字上下各取一半距离）*/
  font-style: oblique;
  color: grey;
  left: 0.3rem;
}
.info2-text2 {
  line-height: 0.09rem; /*行高--文字之间的间距（文字上下各取一半距离）*/
  font-style: oblique;
  color: grey;
  left: 0.3rem;
}
.activity1 {
  width: 0.73rem;
  height: 0.73rem;
  position: relative;
  left: 3.2rem;
  top: 8.2rem;
}
.page2 {
  background-color: #f94d31;
  font-size: 50%;
  width: 100%;
  height: 50%;
  position: relative;
}
.bg2 {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 6.77rem;
}
.embeged {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 7rem;
  position: absolute;
}
.embeged-text1 {
  font-size: 0.55rem;
  color: black;
  margin-top: 2.2rem;
  text-align: center;
  font-weight: 700;
}
.embeged-text2 {
  font-size: 0.38rem;
  color: grey;
  margin-top: 0.8rem;
  line-height: 0.01rem;
  margin-left: 0.5rem;
  text-align: center;
}
.divder2 {
  width: 0.53rem;
  height: 0.09rem;
  position: absolute;
  left: 3.4rem;
  top: 1.76rem;
  background-color: #f94723;
  border-radius: 0.1rem;
}
/*.photo5{
	width:0.53rem;
	height:0.09rem;
	position:absolute;
	left:3.4rem;
	top:1.76rem;
}*/
.photo3 {
  /*750px=7.50rem*/
  width: 6.3rem;
  height: 3.11rem;
  position: absolute;
  /*底部为0*/
  top: 4.34rem;
  right: 0.6rem;
}
.photo4 {
  width: 6.31rem;
  height: 5.03rem;
  position: absolute;
  right: 0.6rem;
  top: 1.8rem;
  margin: 0 auto;
}
.activity2 {
  width: 0.73rem;
  height: 0.73rem;
  position: relative;
  left: 3.4rem;
  top: 12rem;
}
.dropdown {
  width: 0.11rem;
  height: 0.17rem;
  position: absolute;

  left: 0.2rem;
}
.photo5 {
  width: 7rem;
  height: 4.42rem;
  position: absolute;
  left: 0.2rem;
  top: 3.3rem;
}
.photo6 {
  width: 7rem;
  height: 4.42rem;
  position: absolute;
  left: 0.2rem;
  top: 8rem;
}
.tag2 {
  /*字体颜色*/
  color: #6f6565f9;
  /*字体大小*/
  font-size: 0.2rem;
  font-weight: 700;
  position: absolute;
  right: 5.5rem;
  top: 0.7rem;
}
.divder3 {
  width: 0.53rem;
  height: 0.09rem;
  position: absolute;
  left: 6.25rem;
  top: 0.9rem;
  background-color: #f94723;
  border-radius: 0.2rem;
}
.tag3 {
  /*字体颜色*/
  color: #6f6565f9;
  /*字体大小*/
  font-size: 0.6rem;
  font-family: Academy Engraved LET;
  font-weight: 700;
  position: absolute;
  left: 4.5rem;
  top: 1rem;
}
.activity3 {
  width: 0.73rem;
  height: 0.73rem;
  position: relative;
  left: 3.4rem;
  top: 12.26rem;
}
.dowebok{
	animation-duration: 2s;     //动画持续时间
	animation-delay: 1s;      //动画延迟时间   
 /*   animate-iteration-count: 2;    //动画执行次数*/
}
